/* For mobile phones: */
html,body{
    margin:0;
    padding:0;
    color: white;
}

html {
    font-family: "Lato", sans-serif;
}

body{
    background: url(mountains.jpg) rgb(134, 161, 204);

}

.homeTitle {
	font-size: 100px;
	color: white;
	margin:0px;
}

#lastName {
	margin-top: -40px;
}

.txtColor {
	color:white;
}
.glyphColor {
	color: #CD5C5C;
}

#footer {
	color: white;
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100px;
}
